html, body {
  height: 100px;
}

body {
  background:url(http://i66.tinypic.com/290xvu1.jpg);
  margin-top: 65px;
}

h1 {
  font-weight: 900;
  color: white;
  padding-bottom: 10px;
}

.header {
  border: 1px solid black;
  margin-top:50px;
  background: #333;
}

.media-container {
  background: none;
  padding: 0;
}

.streamBox {
  padding: 10px;
  border: 1px solid black;
}

 .logo {
  width: 55px;
  height: auto;
  border-radius: 50px;
}

.media {
  margin-top: 1px;
  padding: 5px;
  border: 1px solid black;
  background: white;
  border-radius: 5px;
}

.media:last-child {
  margin-bottom: 50px;
}

.glyphicon-user {
  font-size: 50px;
}

.online {
  background: #69995D;
}

.offline {
  background: #B1C1C0;
}

.media-body a {
  color: black;
  text-decoration: none;
}

.media-body a:hover {
  color: #fff;
}
